{% extends 'back/master_back.html' %}

{% load static %}


    {% block headblock %}

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>

    {% endblock %}

    
    
    {% block page_content %}     
    <!-- padding : 0 on both sides -->
    
    <div class="container" style="padding: 10px 0px 0px 0px !important; margin-top: 35px;">
        <div class="container">
            
            <!-- table -->
            <div id="tableDropdown" class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">

                            <!-- page title -->
                            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-3 col-5 pt-4 pl-4">
                                <h4>Portfolio Image List</h4>
                            </div>

                        </div>
                    </div>

                    <div class="widget-content widget-content-area">
                        <div class="table-responsive">

                            <table class="table table-bordered mb-4" style="margin-bottom: 100px !important;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Index</th>
                                        <th class="text-center">Image</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for portfolio_image in portfolio_image %}
                                    <tr>
                                        <td class="text-center">{{portfolio_image.index}}</td>
                                        <td class="text-center"><img src="{% if portfolio_image.image1 %}{{portfolio_image.image1.url}}{% endif %}" alt="portfolio_image" style="height: 50px; border-radius: 10%;"></td>
                                        <td class="text-center">
                                            
                                            <div class="dropdown custom-dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>
            
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                                                    <a class="dropdown-item" href="{% url 'back_portfolio_image_edit' portfolio_pk=portfolio_pk portfolio_image_pk=portfolio_image.pk %}">Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#portfolio_{{portfolio_image.pk}}">Delete</a>
                                                </div>

                                                 <!-- Delete Confirm -->
                                                 <div class="modal fade bottom" id="portfolio_{{portfolio_image.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity: 1;">
                                                    <div class="modal-dialog modal-frame modal-bottom" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <div class="row d-flex justify-content-center align-items-center">
            
                                                                    <p class="pt-3 pr-2">
                                                                    This action will delete the Portfolio Image Number <b>"{{portfolio_image.index}}"</b> completely and it is
                                                                    irreparable by nature. Once it is gone it is gone !
                                                                    </p>
            
                                                                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                                                                    <a href="{% url 'back_portfolio_image_delete' portfolio_pk=portfolio_pk portfolio_image_pk=portfolio_image.pk %}"><button type="button" class="btn btn-dark"><b>Delete</b></button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
            
                    </div>
                    
                </div>
            </div>

            <!-- form -->
            <div class="row layout-top-spacing">
                
                <div id="ftFormArray" class="col-lg-12 layout-spacing">
                    <div class="statbox widget box box-shadow">  

                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Portfolio Image Add</h4>
                                    
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin: 10px 20px;">
                                                <strong> {{message}} </strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>          
                            </div>
                        </div>

                        <div class="widget-content widget-content-area custom-autocomplete h-100">

                            <!-- {{demo}} -->

                            <form onsubmit="myFunction()" action="{% url 'back_portfolio_image_list' portfolio_pk=portfolio_pk %}" method="post" id="quillForm1" name="quillForm1" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="index">Index</label>
                                        <input type="number" id="index" name="index" value="{{index_next}}" required>
                                        <!-- have to initiate the TouchSpin -->
                                    </div>
                                </div>

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="image1" style="margin-bottom: 0px;">Work Image</label>
                                        <div class="custom-file-container" data-upload-id="myFirstImage">
                                            <label><a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image"></a></label>
                                            <label class="custom-file-container__custom-file" >
                                                <input type="file" name="image1" id="image1" class="custom-file-container__custom-file__custom-file-input" required>
                                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                                            </label>
                                            <div class="custom-file-container__image-preview"></div>
                                        </div>
                                    </div>
                                </div>
                            
                                <button type="submit" class="btn btn-primary mt-3">Add Image</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}


    {% block footerblock  %}

    <script>

    $("input[name='index']").TouchSpin({
        verticalbuttons: true,
        buttondown_class: "btn btn-classic btn-outline-info",
        buttonup_class: "btn btn-classic btn-outline-danger"
    });

    </script>



    {% endblock %}
