{% load static %}

<!DOCTYPE html>
<html lang="en-US">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <head>

        <title>{% if page_handler %}{{page_handler.meta_title}}{% elif service %}{{service.meta_title}}{% elif portfolio %}{{portfolio.meta_title}}{% elif blog_detail %}{{blog_detail.meta_title}}{% endif %}</title>
        <meta name="description" content="{% if page_handler %}{{page_handler.meta_description}}{% elif service %}{{service.meta_description}}{% elif portfolio %}{{portfolio.meta_description}}{% elif blog_detail %}{{blog_detail.meta_description}}{% endif %}">

        
        <link rel="icon" href="{% static 'front/images/image/circle.png' %}" />

        {% block headblock %}

        {% endblock %}
    
    </head>

    <!-- blog_detail -->
    <!-- post-template-default single single-post postid-20876 single-format-gallery wp-embed-responsive theme-ohio woocommerce-no-js ohio-theme-2-0-0 with-switcher with-header-3 custom-cursor wpb-js-composer js-comp-ver-6.5.0 vc_responsive elementor-default elementor-kit-216976 -->

    <!-- blog -->
    <!-- page-template page-template-page_templates page-template-page_for-posts page-template-page_templatespage_for-posts-php page page-id-17966 page-child parent-pageid-24 wp-embed-responsive theme-ohio woocommerce-no-js ohio-theme-2-0-0 with-switcher with-header-3 custom-cursor wpb-js-composer js-comp-ver-6.5.0 vc_responsive elementor-default elementor-kit-216976 -->


    <body class="{% if request.resolver_match.url_name == 'blog_detail' %}single single-post postid-20876 {% endif %} home page-template-default page page-id-11 wp-embed-responsive ohio-theme-2-0-0 with-switcher with-header-3 with-spacer custom-cursor wpb-js-composer js-comp-ver-6.4.2 vc_responsive elementor-default elementor-kit-18939">
        <!-- <div class="page-preloader " id="page-preloader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
            </svg>
        </div> -->
        
        <style>
            @media(max-width: 768px){
                .clb-scroll-top{
                    margin-top: -30% !important;
                    margin-left: -110% !important;
                }
            }
        </style>
        <ul class="elements-bar left">
            <li>
                <!--  vc_hidden-md vc_hidden-sm vc_hidden-xs -->
                <a class="clb-scroll-top">
                    <div class="clb-scroll-top-bar">
                        <div class="scroll-track"></div>
                    </div>
                    <div class="clb-scroll-top-holder font-titles">
                        Scroll - Top	
                    </div>
                </a>
            </li>
        </ul>
        
        <ul class="elements-bar right">
            <li>
                <div class="clb-social vc_hidden-md vc_hidden-sm vc_hidden-xs">
                    <ul class="clb-social-holder font-titles ">
                        <li class="clb-social-holder-follow">Follow Us</li>
                        <li class="clb-social-holder-dash">&ndash;</li>

                        <li>
                            <a target="_blank" href="https://www.facebook.com/kriosk.creata.9" class="facebook">
                                Fb.
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="https://www.instagram.com/krioskcreata/" class="behance">
                                Ig.
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/kriosk-creata/" class="tiktok">
                                Ld.
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
        
        <div class="circle-cursor circle-cursor--outer"></div>
        <div class="circle-cursor circle-cursor--inner"></div>

        <div id="page" class="site">

            <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
            
            <!-- menu(Mobile) / logo -->
            <header id="masthead" class="site-header header-3 both-types"
                data-header-fixed="true" data-fixed-initial-offset="150">
                <div class="header-wrap">
                    <div class="header-wrap-inner">

                        <div class="left-part">
                            <div class="desktop-hamburger">
                                <!-- Fullscreen -->
                                <div class="clb-hamburger btn-round btn-round-light dark-mode-reset" tabindex="1">
                                    <i class="ion">
                                    <a href="#" class="clb-hamburger-holder" aria-controls="site-navigation" aria-expanded="false">
                                    <span class="_shape"></span>
                                    <span class="_shape"></span>
                                    </a>	
                                    </i>
                                </div>
                            </div>
                            <div class="mobile-hamburger">
                                <!-- Fullscreen -->
                                <div class="clb-hamburger btn-round btn-round-light dark-mode-reset" tabindex="1">
                                    <i class="ion">
                                    <a href="#" class="clb-hamburger-holder" aria-controls="site-navigation" aria-expanded="false">
                                    <span class="_shape"></span>
                                    <span class="_shape"></span>
                                    </a>	
                                    </i>
                                </div>
                            </div>
                            <div class="site-branding">
                                <a class="site-title font-titles" href="{% url 'about' %}" rel="home">
                                    <div class="logo">
                                        {% if request.resolver_match.url_name == 'portfolio_detail' %}
                                        <img src="{% static 'front/images/image/logo.png' %}" class="main-logo svg-logo"  alt="Ohio Demo 5" style="height: 35px;">
                                        {% else %}
                                        <img src="{% static 'front/images/image/logo-R.png' %}" class="main-logo svg-logo"  alt="Ohio Demo 5" style="height: 35px;">
                                        {% endif %}
                                        <img src="{% static 'front/images/image/logo.png' %}" class="dark-scheme-logo svg-logo"  alt="Ohio Demo 5" style="height: 35px;">
                                    </div>
                                    <div class="fixed-logo">
                                        	<img src="{% static 'front/images/image/logo-R.png' %}"  class="svg-logo" alt="Ohio Demo 5" style="height: 35px;">
                                    </div>
                                    <div class="for-onepage">
                                        <span class="dark hidden">
                                        	<img src="{% static 'front/images/image/logo-R.png' %}"  class="svg-logo" alt="Ohio Demo 5" style="height: 35px;">
                                        </span>
                                        <span class="light hidden">
                                        	<img src="{% static 'front/images/image/logo.png' %}"  class="svg-logo" alt="Ohio Demo 5" style="height: 35px;">
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <style>
                            @media(min-width: 800px) {
                                .right-part {
                                    display: none !important;
                                }
                            }
                        </style>

                        <div class="right-part right">
                            <nav id="site-navigation" class="main-nav with-counters" data-mobile-menu-second-click-link="">
                                <!-- Mobile overlay -->
                                <div class="mbl-overlay menu-mbl-overlay">
                                    <div class="mbl-overlay-bg"></div>
                                    <!-- Close bar -->
                                    <div class="close-bar text-left">
                                        <div class="btn-round btn-round-light clb-close" tabindex="0">
                                            <i class="ion ion-md-close"></i>
                                        </div>
                                        <!-- Search -->
                                        <!-- <a class="search-global btn-round btn-round-light fixed btn-round-light vc_hidden-md vc_hidden-sm vc_hidden-xs" tabindex="1" data-nav-search="true">
                                        <i class="icon ion ion-md-search brand-color-hover-i"></i>
                                        </a> -->
                                    </div>
                                    <!-- Navigation -->
                                    <div class="mbl-overlay-container">
                                        <div id="mega-menu-wrap" class="main-nav-container">
                                            <ul id="primary-menu" class="menu">
                                                
                                                <li id="nav-menu-item-19097-5fe9deb02c90d" class="mega-menu-item nav-item menu-item-depth-0 ">
                                                    <a href="{% url 'home' %}" class="menu-link main-menu-link item-title">
                                                        <span>Home</span>
                                                    </a>
                                                </li>

                                                <li id="nav-menu-item-19097-5fe9deb02c90d" class="mega-menu-item nav-item menu-item-depth-0 ">
                                                    <a href="{% url 'about' %}" class="menu-link main-menu-link item-title">
                                                        <span>About</span>
                                                    </a>
                                                </li>

                                                <li id="nav-menu-item-19098-5fe9deb02c98f" class="mega-menu-item nav-item menu-item-depth-0 has-submenu ">
                                                    <a href="{% url 'service_list' %}" class="menu-link main-menu-link item-title">
                                                        <span>Services</span>
                                                        <div class="has-submenu-icon"><i class="menu-plus ion ion-md-add"></i></div>
                                                    </a>
                                                    <div class="sub-nav">
                                                        <ul class="menu-depth-1 sub-menu sub-menu-wide sub-nav-group" style="background-position: center center;background-repeat: no-repeat;">
                                                            
                                                            {% for services in services %}
                                                            <li id="nav-menu-item-21685-5fe9deb02ca10" class="mega-menu-item sub-nav-item menu-item-depth-1 ">
                                                                <a href="{% url 'service_detail' service_name_slug=services.service_name_slug %}" class="menu-link sub-menu-link">
                                                                    <span>{{services.service_name | title}}</span>
                                                                </a>
                                                            </li>
                                                            {% endfor %}

                                                        </ul>
                                                    </div>
                                                </li>

                                                <li id="nav-menu-item-19097-5fe9deb02c90d" class="mega-menu-item nav-item menu-item-depth-0 ">
                                                    <a href="{% url 'portfolio_list' %}" class="menu-link main-menu-link item-title">
                                                        <span>Portfolio</span>
                                                    </a>
                                                </li>

                                                <li id="nav-menu-item-19097-5fe9deb02c90d" class="mega-menu-item nav-item menu-item-depth-0 ">
                                                    <a href="{% url 'blog' %}" class="menu-link main-menu-link item-title">
                                                        <span>Blog</span>
                                                    </a>
                                                </li>

                                                <li id="nav-menu-item-19097-5fe9deb02c90d" class="mega-menu-item nav-item menu-item-depth-0 ">
                                                    <a href="{% url 'contact' %}" class="menu-link main-menu-link item-title">
                                                        <span>Contact Us</span>
                                                    </a>
                                                </li>

                                                <li id="nav-menu-item-19097-5fe9deb02c90d" class="mega-menu-item nav-item menu-item-depth-0 ">
                                                    <a href="{% url 'career' %}" class="menu-link main-menu-link item-title">
                                                        <span>Career</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="copyright">
                                            © 2021, Coded with 
                                            <svg xmlns="{% url 'about' %}" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                            by <a href="{% url 'about' %}" target="_blank">Kriosk Creata</a>.<br>
                                            All rights reserved.            
                                        </div>
                                    </div>
                                    <!-- Mobile social icons -->
                                    <div class="clb-social vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                        <ul class="clb-social-holder font-titles ">
                                            <li class="clb-social-holder-follow">Follow Us</li>
                                            <li class="clb-social-holder-dash">&ndash;</li>
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/colabrio/" class="youtube">
                                                Yt.                            </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/colabrio/" class="behance">
                                                Be.                            </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/colabrio/" class="tiktok">
                                                Tk.                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="close-menu"></div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- menu(Desktop) -->
            <div class="clb-popup clb-hamburger-nav">
                <div class="close-bar text-left">
                    <div class="btn-round clb-close" tabindex="0">
                        <i class="ion ion-md-close"></i>
                    </div>
                </div>
                <div class="clb-hamburger-nav-holder">
                    <ul id="secondary-menu" class="menu">

                        <li id="nav-menu-item-18701-5fe9deb030ead" class="mega-menu-item nav-item menu-item-depth-0 ">
                            <a href="{% url 'home' %}" class="menu-link main-menu-link item-title"><span>Home</span></a>
                        </li>

                        <li id="nav-menu-item-18701-5fe9deb030ead" class="mega-menu-item nav-item menu-item-depth-0 ">
                            <a href="{% url 'about' %}" class="menu-link main-menu-link item-title"><span>About</span></a>
                        </li>

                        <li id="nav-menu-item-18697-5fe9deb030ae8" class="mega-menu-item nav-item menu-item-depth-0 has-submenu ">
                            <a href="{% url 'service_list' %}" class="menu-link main-menu-link item-title">
                                <span>Services</span>
                                <div class="has-submenu-icon"><i class="menu-plus ion ion-md-add"></i></div>
                            </a>
                            <div class="sub-nav">
                                <ul class="menu-depth-1 sub-menu sub-nav-group" >
                                    {% for services in services %}
                                    <li id="nav-menu-item-18702-5fe9deb030b5a" class="mega-menu-item sub-nav-item menu-item-depth-1 ">
                                        <a href="{% url 'service_detail' service_name_slug=services.service_name_slug %}" class="menu-link sub-menu-link">
                                            <span>{{services.service_name | title}}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li id="nav-menu-item-18701-5fe9deb030ead" class="mega-menu-item nav-item menu-item-depth-0 ">
                            <a href="{% url 'portfolio_list' %}" class="menu-link main-menu-link item-title"><span>Portfolio</span></a>
                        </li>

                        <li id="nav-menu-item-18701-5fe9deb030ead" class="mega-menu-item nav-item menu-item-depth-0 ">
                            <a href="{% url 'blog' %}" class="menu-link main-menu-link item-title"><span>Blogs</span></a>
                        </li>

                        <li id="nav-menu-item-18701-5fe9deb030ead" class="mega-menu-item nav-item menu-item-depth-0 ">
                            <a href="{% url 'contact' %}" class="menu-link main-menu-link item-title"><span>Contact</span></a>
                        </li>

                        <li id="nav-menu-item-18701-5fe9deb030ead" class="mega-menu-item nav-item menu-item-depth-0 ">
                            <a href="{% url 'career' %}" class="menu-link main-menu-link item-title"><span>Career</span></a>
                        </li>

                    </ul>
                </div>
                <div class="clb-hamburger-nav-details">
                    <div class="hamburger-nav-info">
                        <div class="hamburger-nav-info-item">
                            <b>Get In Touch</b><br> 
                            A-201, Venus Amadeus, Jodhpur X Road,<br> 
                            Ahmedabad, Gujarat,<br> 
                            INDIA — 380015<br> 
                            Id: info@krioskcreata.com<br> 
                            Mo: +91.997.889.8255                    
                        </div>
                    </div>
                    <div class="hamburger-nav-info">
                        <div class="hamburger-nav-info-item">
                            <div class="socialbar small outline inverse">
                                <a href="https://www.facebook.com/kriosk.creata.9" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/krioskcreata/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/kriosk-creata/" target="_blank" class="linkedn"><i class="fab fa-linkedin"></i></a>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="clb-popup clb-search-popup">
                <div class="close-bar">
                    <div class="btn-round clb-close" tabindex="0">
                        <i class="ion ion-md-close"></i>
                    </div>
                </div>
                <div class="search-holder">
                    <form role="search" class="search search-form" action="#" method="GET">
                        <label>
                        <span class="screen-reader-text">Search for</span>
                        <input autocomplete="off" type="text" class="search-field" name="s" placeholder="Search..." value="">
                        </label>
                        <button type="submit" class="search search-submit">
                        <i class="ion ion-md-search"></i>
                        </button>
                    </form>
                </div>
            </div> -->

            <div id="content" class="site-content" data-mobile-menu-resolution="768">

                {% block page_content %}
                    
                {% endblock %}

            </div>

            <!-- footer -->
            <footer id="colophon" class="site-footer clb__dark_section">

                <div class="page-container">
                    <div class="widgets vc_row">

                        <!-- logo/SM -->
                        <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-6 widgets-column" style="text-align: center;">
                            <ul>
                                <li id="ohio_widget_logo-1" class="widget widget_ohio_widget_logo">
                                    <div class="theme-logo ">
                                        <a href="index.html">
                                            <img src="{% static 'front/images/image/logo.png' %}" class="main-logo  svg-logo" alt="Ohio Demo 5" style="height: 45px;">
                                            <img src="{% static 'front/images/image/logo-R.png' %}" class=" dark-scheme-logo svg-logo"  alt="Ohio Demo 5" style="height: 45px;">
                                        </a>
                                    </div>
                                </li>
                                <li id="custom_html-2" class="widget_text widget widget_custom_html">
                                    <div class="textwidget custom-html-widget">
                                        <a target="_blank" href="https://www.facebook.com/kriosk.creata.9" rel="noopener">Fb.</a>&nbsp;&nbsp;/&nbsp;&nbsp; 
                                        <a target="_blank" href="https://www.instagram.com/krioskcreata/" rel="noopener">Ig.</a>&nbsp;&nbsp;/&nbsp;&nbsp;
                                        <a target="_blank" href="https://www.linkedin.com/company/kriosk-creata" rel="noopener">Ld.</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- address -->
                        <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-6 widgets-column" style="text-align: center;">
                            <ul>
                                <li id="custom_html-4" class="widget_text widget widget_custom_html">
                                    <h3 class="title widget-title">Locate Us</h3>
                                    <div class="textwidget custom-html-widget"><b>Kriosk Creata.</b><br>
                                        A-201, Venus Amadeus,<br>
                                        Jodhpur Cross-Road,<br>
                                        Ahmedabad, Gujarat,<br>
                                        INDIA — 380015
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- work : email/phone -->
                        <div class="vc_col-lg-4 vc_col-md-4 vc_col-sm-6 widgets-column" style="text-align: center;">
                            <ul>
                                <li id="custom_html-5" class="widget_text widget widget_custom_html">
                                    <h3 class="title widget-title">Enquiry</h3>
                                    <div class="textwidget custom-html-widget">Have project for us?<br>
                                        <b>Mail Us : <a href="mailto:info@krioskcreata.com">info@krioskcreata.com</a></b><br>
                                        <b>Call Us : +91 9978-898-255</b>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- careers : email/phone -->
                        <!-- <div class="vc_col-lg-3 vc_col-md-3 vc_col-sm-6 widgets-column">
                            <ul>
                                <li id="custom_html-5" class="widget_text widget widget_custom_html">
                                    <h3 class="title widget-title">Career Enquiry</h3>
                                    <div class="textwidget custom-html-widget">Interested in working with us?<br>
                                        <b>Mail Us : <a href="mailto:info@krioskcreata.com">info@krioskcreata.com</a></b><br>
                                        <b>Call Us : +91 9978-898-255</b>
                                    </div>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>

                <div class="site-info ">
                    <div class="page-container">
                        <div class="vc_row">
                            <div class="vc_col-md-12">
                                <div class="site-info-holder">
                                    <div class="left">
                                        Coded with &nbsp;
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                        &nbsp; by <a href="http://clbthemes.com/" target="_blank">Kriosk Creata</a>.								
                                    </div>
                                    <div class="right vc_hidden-xs vc_hidden-sm">
                                        © 2021, All right reserved.								
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

			</footer>

        </div>

        <div class="clb-popup container-loading custom-popup">
            <div class="close-bar">
                <div class="btn-round clb-close" tabindex="0">
                    <i class="ion ion-md-close"></i>
                </div>
            </div>
            <div class="clb-popup-holder">
            </div>
        </div>

        <!-- <a class="search-global btn-round btn-round-light fixed btn-round-light vc_hidden-md vc_hidden-sm vc_hidden-xs" tabindex="1" data-nav-search="true">
            <i class="icon ion ion-md-search brand-color-hover-i"></i>
        </a> -->


        {% block footerblock  %}

        {% endblock %}

        <!-- <script>
            function initFreshChat() {
              window.fcWidget.init({
                token: "af75de42-79e5-4784-a45b-7d63ecde13ef",
                host: "https://wchat.freshchat.com"
              });
            }
            function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
        </script> -->
    
    </body>

</html>
    
    
    
        