.brand-color,
.brand-color-i,
.brand-color-hover-i:hover,
.brand-color-hover:hover,
.has-brand-color-color,
.is-style-outline .has-brand-color-color,
a:hover,
.blog-grid:not(.blog-grid-type-2):not(.blog-grid-type-4):hover h3 a,
.portfolio-item.grid-2:hover h4.title,
.fullscreen-nav li a:hover,
.socialbar.inline a:hover,
.gallery .expand .ion:hover,
.close .ion:hover,
.accordionItem_title:hover,
.tab .tabNav_link:hover,
.widget .socialbar a:hover,
.social-bar .socialbar a:hover,
.share-bar .links a:hover,
.widget_shopping_cart_content .buttons a.button:first-child:hover,
span.page-numbers.current,
a.page-numbers:hover,
.main-nav .nav-item.active-main-item>.menu-link,
.comment-content a,
.page-headline .subtitle b:before,
nav.pagination li .page-numbers.active,
#mega-menu-wrap>ul .sub-menu>li>a:hover,
#mega-menu-wrap>ul .sub-sub-menu>li>a:hover,
#mega-menu-wrap>ul>.current-menu-ancestor>a,
#mega-menu-wrap>ul .sub-menu:not(.sub-menu-wide) .current-menu-ancestor>a,
#mega-menu-wrap>ul .current-menu-item>a,
#fullscreen-mega-menu-wrap>ul .current-menu-ancestor>a,
#fullscreen-mega-menu-wrap>ul .current-menu-item>a,
.woocommerce .woo-my-nav li.is-active a,
.portfolio-sorting li a.active,
.widget_nav_menu .current-menu-item>a,
.widget_pages .current-menu-item>a,
.portfolio-item-fullscreen .portfolio-details-date:before,
.btn.btn-link:hover,
.blog-grid-content .category-holder:after,
.clb-page-headline .post-meta-estimate:before,
.comments-area .comment-date-and-time:after,
.post .entry-content a:not(.wp-block-button__link),
.project-page-content .date:before,
.pagination li .btn.active,
.pagination li .btn.current,
.pagination li .page-numbers.active,
.pagination li .page-numbers.current,
.category-holder:not(.no-divider):after,
.inline-divider:after,
.clb-hamburger-nav .menu .nav-item:hover>a.menu-link .ion,
.clb-hamburger-nav .menu .nav-item .visible>a.menu-link .ion,
.clb-hamburger-nav .menu .nav-item.active>a.menu-link .ion,
.clb-hamburger-nav .menu .sub-nav-item:hover>a.menu-link .ion,
.clb-hamburger-nav .menu .sub-nav-item .visible>a.menu-link .ion,
.clb-hamburger-nav .menu .sub-nav-item.active>a.menu-link .ion,
.widgets a,
.widgets a *:not(.fab),
.pricing:hover .pricing_price_title,
.btn-link:focus,
a.btn-link:focus,
.btn-link:active,
a.btn-link:active,
.pricing_list_item .ion,
a.highlighted,
.woocommerce .woocommerce-privacy-policy-text a,
.blog-grid-type-6 .category-holder a.category {
	color: #d90a2c;
}

.brand-border-color,
.brand-border-color-hover,
.has-brand-color-background-color,
.is-style-outline .has-brand-color-color,
.wp-block-button__link:hover,
.custom-cursor .circle-cursor--outer,
.btn-brand,
.btn:not(.btn-link):hover,
.btn-brand:active,
.btn:not(.btn-link):active,
.btn-brand:focus,
.btn:not(.btn-link):focus,
a.button:hover,
button.button:hover,
.pricing:hover .btn.btn-brand {
	border-color: #d90a2c;
}

.brand-bg-color,
.brand-bg-color-after,
.brand-bg-color-before,
.brand-bg-color-hover,
.brand-bg-color-i,
.brand-bg-color-hover-i,
.btn-brand:not(.btn-outline),
.has-brand-color-background-color,
a.brand-bg-color,
.wp-block-button__link:hover,
.widget_price_filter .ui-slider-range,
.widget_price_filter .ui-slider-handle:after,
.main-nav .nav-item:before,
.main-nav .nav-item.current-menu-item:before,
.widget_calendar caption,
.tag:not(.tag-portfolio):hover,
.page-headline .tags .tag,
.radio input:checked+.input:after,
.menu-list-details .tag,
.custom-cursor .circle-cursor--inner,
.custom-cursor .circle-cursor--inner.cursor-link-hover,
.btn-round:before,
.btn:not(.btn-link):hover,
.btn:not(.btn-link):active,
.btn:not(.btn-link):focus,
button.button:not(.btn-link):hover,
a.button:not(.btn-link):hover,
.btn.btn-flat:hover,
.btn.btn-flat:focus,
.btn.btn-outline:hover,
nav.pagination li .btn.active:hover,
.tag:not(body):hover,
.tag-cloud-link:hover,
.pricing_price_time:hover,
.pricing:hover .btn.btn-brand {
	background-color: #d90a2c;
}

.site-header {
	border: none;
}

.site-header.header-fixed {
	border: none;
}

#masthead .btn-optional {
	background-color: #4200ff;
	border-color: #4200ff;
}

.clb-back-link,
.clb-back-link .arrow-icon {}

.clb-page-headline::after {
	background-color: transparent;
}

.header-wrap.page-container {
	max-width: 1300px
}

.clb-subscribe-img {
	background-image: url('../images/oh__img114-768x451.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.site-footer {
	background-color: #17161a;
	color: rgba(255, 255, 255, 0.8);
}

.site-footer,
.site-footer .widgets a,
.site-footer .btn-flat {
	color: rgba(255, 255, 255, 0.8);
}

.site-footer .widget-title {
	color: #8b8a8d;
}

body {}

{}

h1,
h2,
h3,
h4,
h5,
h6,
.box-count,
.font-titles,
.fullscreen-nav .menu-link,
.clb-hamburger-nav .menu .nav-item a,
.site-header.mobile-header .main-nav .nav-item,
.btn,
.button,
a.button,
input[type="submit"],
a.btn-link,
.widget_shopping_cart_content .mini-cart-description .mini-cart-item-title>a,
.woo-c_product_name>a:not(.woo-c_product_category),
.socialbar.inline a,
.vc_row .vc-bg-side-text,
.counter-box-count {}

.countdown-box .box-time .box-count,
.chart-box-pie-content {}

.countdown-box .box-time .box-count,
.chart-box-pie-content {}

.countdown-box .box-time .box-count,
.chart-box-pie-content {}

.portfolio-item-2 h4 {}

p.subtitle,
.subtitle-font,
.heading .subtitle {}

{}

.contact-form.classic input::-webkit-input-placeholder,
.contact-form.classic textarea::-webkit-input-placeholder,
input.classic::-webkit-input-placeholder,
input.classic::-moz-placeholder {}

.contact-form.classic input::-moz-placeholder,
.contact-form.classic textarea::-moz-placeholder {}

input.classic:-ms-input-placeholder,
.contact-form.classic input:-ms-input-placeholder,
.contact-form.classic textarea:-ms-input-placeholder {}


/*Custom font*/

@import url("http://hello.myfonts.net/count/3b259e");
@font-face {
	font-family: 'HelveticaNeueLTPro-BdEx';
	src: url('../fonts/3B259E_0_0.eot');
	src: url('../fonts/3B259E_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/3B259E_0_0.woff2') format('woff2'), url('../fonts/3B259E_0_0.woff') format('woff'), url('../fonts/3B259E_0_0.ttf') format('truetype');
}

.clb-hamburger-nav.centered .menu .nav-item a,
.clb-hamburger-nav.centered .menu .sub-nav-item a,
.clb-hamburger-nav.type3 .menu .nav-item a,
.clb-hamburger-nav.type3 .menu .sub-nav-item a {
	font-family: HelveticaNeueLTPro-BdEx;
	font-weight: normal;
	font-style: normal;
}


/*Custom font*/

@font-face {
	font-family: 'Space Grotesk Bold';
	src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'), url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'blacker_pro_display-bold';
	src: url('../fonts/blacker_pro_display-bold-webfont.woff2') format('woff2'), url('../fonts/blacker_pro_display-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/*Custom blog grid*/

.blog-grid-type-2 .blog-grid-content .btn {
	margin: 0px;
}


/*Project page spacers*/

@media screen and (min-width: 1440px) {
	.project-page.layout-type3 .project-page-content {
		margin-left: 3vw;
		margin-right: 8vw;
	}
}


/*Custom Widget*/

#custom_html-17 {
	padding: 20px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #0d1adb;
	font-size: 14px;
	margin-top: 50px;
}

#custom_html-17 * {
	color: rgba(255, 255, 255, .85);
}

#custom_html-17 img {
	margin-left: -20px;
	margin-bottom: -20px;
	vertical-align: top;
	max-width: calc(100% + 40px);
	border-radius: 0px 0px 8px 8px;
}

#custom_html-17 h3.widget-title {
	margin-bottom: 15px;
	font-weight: 600;
	color: #fff;
	font-size: 20px;
	line-height: 1.4;
}


/*New label*/

.nav-item:nth-child(2) li:nth-child(1) li:nth-child(7) span:after,
.nav-item:nth-child(2) li:nth-child(1) li:nth-child(9) span:after,
.nav-item:nth-child(2) li:nth-child(1) li:nth-child(10) span:after,
.nav-item:nth-child(3) li:nth-child(2) li:nth-child(4) span:after,
.nav-item:nth-child(3) li:nth-child(2) li:nth-child(9) span:after,
.nav-item:nth-child(3) li:nth-child(3) li:nth-child(9) span:after,
.nav-item:nth-child(3) li:nth-child(1) li:nth-child(6) span:after,
.nav-item:nth-child(3) li:nth-child(1) li:nth-child(7) span:after,
.nav-item:nth-child(4) li:nth-child(2) li:nth-child(5) span:after,
.nav-item:nth-child(4) li:nth-child(2) li:nth-child(6) span:after,
.nav-item:nth-child(6) li:nth-child(1) li:nth-child(6) span:after,
.nav-item:nth-child(6) li:nth-child(2) li:nth-child(6) span:after {
	content: "NEW";
	border-radius: 4px;
	margin: -2px 0 0 6px;
	padding: 0 5px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background-color: #d90a2c;
}

.clb-page-headline .clb-title {
	max-width: 75%;
}

.clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link span,
.clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link span {
	overflow: visible;
	margin-top: 1px;
}

@media screen and (min-width:1025px) {}

@media screen and (min-width:769px) and (max-width:1024px) {}

@media screen and (max-width:768px) {
	.woo_c-product .breadcrumbs {
		display: none;
	}
	.woo_c-product .clb-share-bar {
		top: 100px;
	}
	.single-product .icon-box-title {
		font-size: 16px !important;
	}
}