.elementor-2 .elementor-element.elementor-element-27d0a15 .elementor-spacer-inner {
	height: 12vh;
}

.elementor-2 .elementor-element.elementor-element-155428a h1,
.elementor-2 .elementor-element.elementor-element-155428a h2,
.elementor-2 .elementor-element.elementor-element-155428a h3,
.elementor-2 .elementor-element.elementor-element-155428a h4,
.elementor-2 .elementor-element.elementor-element-155428a h5,
.elementor-2 .elementor-element.elementor-element-155428a h6 {
	font-size: 5.2vw;
	line-height: 1em;
}

.elementor-2 .elementor-element.elementor-element-c1dbcb3 .elementor-text-editor {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-c1dbcb3 {
	font-size: 19px;
}

.elementor-2 .elementor-element.elementor-element-c1dbcb3>.elementor-widget-container {
	margin: -10px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-7662e9f .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-d159d42 .elementor-spacer-inner {
	height: 10px;
}

.elementor-2 .elementor-element.elementor-element-8f44d28 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-fa5325d .elementor-text-editor {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-fa5325d {
	font-size: 19px;
}

.elementor-2 .elementor-element.elementor-element-6fe216e .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-5e17225>.elementor-widget-container {
	padding: 0% 30% 0% 0%;
}

.elementor-2 .elementor-element.elementor-element-7a93792>.elementor-widget-container {
	padding: 0% 30% 0% 0%;
}

.elementor-2 .elementor-element.elementor-element-458c702>.elementor-widget-container {
	padding: 0% 30% 0% 0%;
}

.elementor-2 .elementor-element.elementor-element-6fcf3a1>.elementor-widget-container {
	padding: 0% 30% 0% 0%;
}

.elementor-2 .elementor-element.elementor-element-40f008e>.elementor-widget-container {
	padding: 0% 30% 0% 0%;
}

.elementor-2 .elementor-element.elementor-element-da386f1>.elementor-widget-container {
	padding: 0% 30% 0% 0%;
}

.elementor-2 .elementor-element.elementor-element-c1338d1 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-0e6a2ae:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-0e6a2ae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-0e6a2ae,
.elementor-2 .elementor-element.elementor-element-0e6a2ae>.elementor-background-overlay {
	border-radius: 12px 12px 12px 12px;
}

.elementor-2 .elementor-element.elementor-element-0e6a2ae {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-0e6a2ae>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-7da0290 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-cdec9e2>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-2 .elementor-element.elementor-element-e5feb79 .elementor-spacer-inner {
	height: 30px;
}

.elementor-2 .elementor-element.elementor-element-48f5752 .subtitle-top .subtitle {
	margin-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-48f5752 .subtitle-bottom .subtitle {
	margin-top: 15px;
}

.elementor-2 .elementor-element.elementor-element-48f5752 h1,
.elementor-2 .elementor-element.elementor-element-48f5752 h2,
.elementor-2 .elementor-element.elementor-element-48f5752 h3,
.elementor-2 .elementor-element.elementor-element-48f5752 h4,
.elementor-2 .elementor-element.elementor-element-48f5752 h5,
.elementor-2 .elementor-element.elementor-element-48f5752 h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-48f5752 .subtitle {
	font-size: 14px;
	text-transform: uppercase;
}

.elementor-2 .elementor-element.elementor-element-1bd76f4 {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-85764e7 .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-87d4e04 .elementor-spacer-inner {
	height: 10px;
}

.elementor-2 .elementor-element.elementor-element-a926519 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-92954a3 {
	--divider-border-style: solid;
	--divider-color: #888888A6;
	--divider-border-width: 1px;
}

.elementor-2 .elementor-element.elementor-element-92954a3 .elementor-divider-separator {
	width: 100%;
}

.elementor-2 .elementor-element.elementor-element-92954a3 .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-b5b8848 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-5bcff0d h5.icon-box-title {
	font-size: 24px;
}

.elementor-2 .elementor-element.elementor-element-5bcff0d p.icon-box-details {
	font-size: 16.8px;
}

.elementor-2 .elementor-element.elementor-element-5bcff0d .icon-box-icon {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-0eba1fe .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-00178a9 {
	--divider-border-style: solid;
	--divider-color: #888888A6;
	--divider-border-width: 1px;
}

.elementor-2 .elementor-element.elementor-element-00178a9 .elementor-divider-separator {
	width: 100%;
}

.elementor-2 .elementor-element.elementor-element-00178a9 .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-78dcdce .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-e408333 h5.icon-box-title {
	font-size: 24px;
}

.elementor-2 .elementor-element.elementor-element-e408333 p.icon-box-details {
	font-size: 16.8px;
}

.elementor-2 .elementor-element.elementor-element-e408333 .icon-box-icon {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-1bc216a .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-e85ab9d {
	--divider-border-style: solid;
	--divider-color: #888888A6;
	--divider-border-width: 1px;
}

.elementor-2 .elementor-element.elementor-element-e85ab9d .elementor-divider-separator {
	width: 100%;
}

.elementor-2 .elementor-element.elementor-element-e85ab9d .elementor-divider {
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-27b9ada .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-40b9111 h5.icon-box-title {
	font-size: 24px;
}

.elementor-2 .elementor-element.elementor-element-40b9111 p.icon-box-details {
	font-size: 16.8px;
}

.elementor-2 .elementor-element.elementor-element-40b9111 .icon-box-icon {
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-d1475a7 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-3d23c9f .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-007a45e h1,
.elementor-2 .elementor-element.elementor-element-007a45e h2,
.elementor-2 .elementor-element.elementor-element-007a45e h3,
.elementor-2 .elementor-element.elementor-element-007a45e h4,
.elementor-2 .elementor-element.elementor-element-007a45e h5,
.elementor-2 .elementor-element.elementor-element-007a45e h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-234d937 {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-5034673 .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-33ab841 form.wpcf7-form {
	margin: -0px;
}

.elementor-2 .elementor-element.elementor-element-33ab841 [class*=vc_col-lg] {
	padding: 0px;
}

.elementor-2 .elementor-element.elementor-element-e0f2d30 .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-ff8f665 .elementor-text-editor {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-ff8f665 {
	font-size: 16px;
}

.elementor-2 .elementor-element.elementor-element-abafaa0 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-df5429a:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-df5429a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-df5429a,
.elementor-2 .elementor-element.elementor-element-df5429a>.elementor-background-overlay {
	border-radius: 12px 12px 12px 12px;
}

.elementor-2 .elementor-element.elementor-element-df5429a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-df5429a>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-9490bfe .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-86570f5>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-2 .elementor-element.elementor-element-c0b46df .elementor-spacer-inner {
	height: 10px;
}

.elementor-2 .elementor-element.elementor-element-23c0608 .subtitle-top .subtitle {
	margin-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-23c0608 .subtitle-bottom .subtitle {
	margin-top: 15px;
}

.elementor-2 .elementor-element.elementor-element-23c0608 h1,
.elementor-2 .elementor-element.elementor-element-23c0608 h2,
.elementor-2 .elementor-element.elementor-element-23c0608 h3,
.elementor-2 .elementor-element.elementor-element-23c0608 h4,
.elementor-2 .elementor-element.elementor-element-23c0608 h5,
.elementor-2 .elementor-element.elementor-element-23c0608 h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-23c0608 .subtitle {
	font-size: 14px;
	text-transform: uppercase;
}

.elementor-2 .elementor-element.elementor-element-293fbb5 {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-88a9e07 .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-819fae0>.elementor-widget-container {
	margin: 0px 40px 0px 0px;
	padding: 30px 0px 0px 0px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #888888A6;
}

.elementor-2 .elementor-element.elementor-element-819fae0 {
	width: auto;
	max-width: auto;
}

.elementor-2 .elementor-element.elementor-element-32f7d6e>.elementor-widget-container {
	padding: 30px 0px 0px 0px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #888888A6;
}

.elementor-2 .elementor-element.elementor-element-32f7d6e {
	width: auto;
	max-width: auto;
}

.elementor-2 .elementor-element.elementor-element-95a9ada .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-cfdfeee .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-37a4068 .subtitle-top .subtitle {
	margin-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-37a4068 .subtitle-bottom .subtitle {
	margin-top: 15px;
}

.elementor-2 .elementor-element.elementor-element-37a4068 h1,
.elementor-2 .elementor-element.elementor-element-37a4068 h2,
.elementor-2 .elementor-element.elementor-element-37a4068 h3,
.elementor-2 .elementor-element.elementor-element-37a4068 h4,
.elementor-2 .elementor-element.elementor-element-37a4068 h5,
.elementor-2 .elementor-element.elementor-element-37a4068 h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-37a4068 .subtitle {
	font-size: 14px;
	text-transform: uppercase;
}

.elementor-2 .elementor-element.elementor-element-9b60032 {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-9ed6086 .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-be1f5e6 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-2d1080d .ohio-card-wrapper {
	padding: 20px;
}

.elementor-2 .elementor-element.elementor-element-2d1080d .blog-grid.boxed:not(.blog-grid-type-2) .blog-grid-content {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-2d1080d .blog-grid.blog-grid-type-2 {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-2d1080d .blog-grid.blog-grid-type-4 {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-7aa53ca .ohio-card-wrapper {
	padding: 20px;
}

.elementor-2 .elementor-element.elementor-element-7aa53ca .blog-grid.boxed:not(.blog-grid-type-2) .blog-grid-content {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-7aa53ca .blog-grid.blog-grid-type-2 {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-7aa53ca .blog-grid.blog-grid-type-4 {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-d5b27ba .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-839a80a:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-839a80a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #75925F14;
}

.elementor-2 .elementor-element.elementor-element-839a80a,
.elementor-2 .elementor-element.elementor-element-839a80a>.elementor-background-overlay {
	border-radius: 12px 12px 12px 12px;
}

.elementor-2 .elementor-element.elementor-element-839a80a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-839a80a>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-e53eed6 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-2fdb1d8 .subtitle-top .subtitle {
	margin-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-2fdb1d8 .subtitle-bottom .subtitle {
	margin-top: 15px;
}

.elementor-2 .elementor-element.elementor-element-2fdb1d8 h1,
.elementor-2 .elementor-element.elementor-element-2fdb1d8 h2,
.elementor-2 .elementor-element.elementor-element-2fdb1d8 h3,
.elementor-2 .elementor-element.elementor-element-2fdb1d8 h4,
.elementor-2 .elementor-element.elementor-element-2fdb1d8 h5,
.elementor-2 .elementor-element.elementor-element-2fdb1d8 h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-2fdb1d8 .subtitle {
	font-size: 14px;
	text-transform: uppercase;
}

.elementor-2 .elementor-element.elementor-element-95ec8fc {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-3951d9f .elementor-spacer-inner {
	height: 6vh;
}

.elementor-2 .elementor-element.elementor-element-bd6f484 .tabNav_link {
	font-size: 17px;
}

.elementor-2 .elementor-element.elementor-element-3b63669 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-20e1520 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-5b3d87e .subtitle-top .subtitle {
	margin-bottom: 15px;
}

.elementor-2 .elementor-element.elementor-element-5b3d87e .subtitle-bottom .subtitle {
	margin-top: 15px;
}

.elementor-2 .elementor-element.elementor-element-5b3d87e h1,
.elementor-2 .elementor-element.elementor-element-5b3d87e h2,
.elementor-2 .elementor-element.elementor-element-5b3d87e h3,
.elementor-2 .elementor-element.elementor-element-5b3d87e h4,
.elementor-2 .elementor-element.elementor-element-5b3d87e h5,
.elementor-2 .elementor-element.elementor-element-5b3d87e h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-5b3d87e .subtitle {
	font-size: 14px;
	text-transform: uppercase;
}

.elementor-2 .elementor-element.elementor-element-b328e95 {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-5dd4120 .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-b851ccc .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-3d36dae>.elementor-widget-container {
	padding: 40px 40px 40px 40px;
	background-color: #925F8D14;
	border-radius: 12px 12px 12px 12px;
}

.elementor-2 .elementor-element.elementor-element-b869358 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-5846615 {
	font-size: 15px;
}

.elementor-2 .elementor-element.elementor-element-bda3fb7 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-696e51d .pricing_title {
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .pricing_price .pricing_price_subtitle {
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .pricing_price .pricing_price_title {
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .pricing_price .pricing_price_time {
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .pricing_list .pricing_list_item:not(.disabled) .title {
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn-outline {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn-outline:hover {
	border-color: #FFFFFF;
	color: #fff;
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn-link {
	color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn-flat {
	color: #fff;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn-flat:hover {
	color: #FFFFFF;
	background-color: transparent;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn-default {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn.btn-outline,
.elementor-2 .elementor-element.elementor-element-696e51d .btn.btn-link,
.elementor-2 .elementor-element.elementor-element-696e51d .btn.btn-flat,
.elementor-2 .elementor-element.elementor-element-696e51d .btn.btn-default {
	color: #17161A !important;
}

.elementor-2 .elementor-element.elementor-element-696e51d .btn:not(.btn-outline):not(.btn-flat):not(.btn-link) .text {
	color: #17161A;
}

.elementor-2 .elementor-element.elementor-element-696e51d>.elementor-widget-container {
	padding: 40px 40px 40px 40px;
	background-color: #232226;
	border-radius: 12px 12px 12px 12px;
}

.elementor-2 .elementor-element.elementor-element-57e0f83 .elementor-spacer-inner {
	height: 4vh;
}

.elementor-2 .elementor-element.elementor-element-b685d99 {
	font-size: 15px;
}

.elementor-2 .elementor-element.elementor-element-0cdda27 {
	--divider-border-style: solid;
	--divider-color: #888888A6;
	--divider-border-width: 1px;
}

.elementor-2 .elementor-element.elementor-element-0cdda27 .elementor-divider-separator {
	width: 100%;
}

.elementor-2 .elementor-element.elementor-element-0cdda27 .elementor-divider {
	padding-top: 30px;
	padding-bottom: 30px;
}

.elementor-2 .elementor-element.elementor-element-ae7058e {
	--divider-border-style: solid;
	--divider-color: #888888A6;
	--divider-border-width: 1px;
}

.elementor-2 .elementor-element.elementor-element-ae7058e .elementor-divider-separator {
	width: 100%;
}

.elementor-2 .elementor-element.elementor-element-ae7058e .elementor-divider {
	padding-top: 30px;
	padding-bottom: 30px;
}

.elementor-2 .elementor-element.elementor-element-51a299f .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-03a2463:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-03a2463>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #925F8D14;
}

.elementor-2 .elementor-element.elementor-element-03a2463,
.elementor-2 .elementor-element.elementor-element-03a2463>.elementor-background-overlay {
	border-radius: 12px 12px 12px 12px;
}

.elementor-2 .elementor-element.elementor-element-03a2463 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-03a2463>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-2b24f02 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-1cdc672 h1,
.elementor-2 .elementor-element.elementor-element-1cdc672 h2,
.elementor-2 .elementor-element.elementor-element-1cdc672 h3,
.elementor-2 .elementor-element.elementor-element-1cdc672 h4,
.elementor-2 .elementor-element.elementor-element-1cdc672 h5,
.elementor-2 .elementor-element.elementor-element-1cdc672 h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-94a6d32 .elementor-spacer-inner {
	height: 11vh;
}

.elementor-2 .elementor-element.elementor-element-3813e06 .elementor-spacer-inner {
	height: 8vh;
}

.elementor-2 .elementor-element.elementor-element-e913284 h1,
.elementor-2 .elementor-element.elementor-element-e913284 h2,
.elementor-2 .elementor-element.elementor-element-e913284 h3,
.elementor-2 .elementor-element.elementor-element-e913284 h4,
.elementor-2 .elementor-element.elementor-element-e913284 h5,
.elementor-2 .elementor-element.elementor-element-e913284 h6 {
	font-size: 3.2vw;
}

.elementor-2 .elementor-element.elementor-element-28365a2 {
	font-size: 18px;
}

.elementor-2 .elementor-element.elementor-element-00d7679 .elementor-spacer-inner {
	height: 8vh;
}

.elementor-2 .elementor-element.elementor-element-fea3426 form.wpcf7-form {
	margin: -0px;
}

.elementor-2 .elementor-element.elementor-element-fea3426 [class*=vc_col-lg] {
	padding: 0px;
}

.elementor-2 .elementor-element.elementor-element-e9de54b .elementor-spacer-inner {
	height: 20px;
}

.elementor-2 .elementor-element.elementor-element-5c2c6d7 .elementor-text-editor {
	text-align: center;
}

.elementor-2 .elementor-element.elementor-element-5c2c6d7 {
	font-size: 16px;
}

.elementor-2 .elementor-element.elementor-element-9c4e165 .elementor-spacer-inner {
	height: 8vh;
}

.elementor-2 .elementor-element.elementor-element-0994534 {
	--divider-border-style: solid;
	--divider-color: #888888A6;
	--divider-border-width: 1px;
}

.elementor-2 .elementor-element.elementor-element-0994534 .elementor-divider-separator {
	width: 100%;
}

.elementor-2 .elementor-element.elementor-element-0994534 .elementor-divider {
	padding-top: 0px;
	padding-bottom: 0px;
}

@media(max-width:1024px) {
	.elementor-2 .elementor-element.elementor-element-48f5752 h1,
	.elementor-2 .elementor-element.elementor-element-48f5752 h2,
	.elementor-2 .elementor-element.elementor-element-48f5752 h3,
	.elementor-2 .elementor-element.elementor-element-48f5752 h4,
	.elementor-2 .elementor-element.elementor-element-48f5752 h5,
	.elementor-2 .elementor-element.elementor-element-48f5752 h6 {
		font-size: 5vw;
	}
	.elementor-2 .elementor-element.elementor-element-23c0608 h1,
	.elementor-2 .elementor-element.elementor-element-23c0608 h2,
	.elementor-2 .elementor-element.elementor-element-23c0608 h3,
	.elementor-2 .elementor-element.elementor-element-23c0608 h4,
	.elementor-2 .elementor-element.elementor-element-23c0608 h5,
	.elementor-2 .elementor-element.elementor-element-23c0608 h6 {
		font-size: 5vw;
	}
}

@media(min-width:768px) {
	.elementor-2 .elementor-element.elementor-element-06efd28 {
		width: 16.666%;
	}
	.elementor-2 .elementor-element.elementor-element-1436245 {
		width: 66.001%;
	}
	.elementor-2 .elementor-element.elementor-element-2d91e47 {
		width: 16.666%;
	}
	.elementor-2 .elementor-element.elementor-element-0167663 {
		width: 41.66%;
	}
	.elementor-2 .elementor-element.elementor-element-6ef83f4 {
		width: 58.34%;
	}
	.elementor-2 .elementor-element.elementor-element-5189d19 {
		width: 28%;
	}
	.elementor-2 .elementor-element.elementor-element-dd154b1 {
		width: 43.333%;
	}
	.elementor-2 .elementor-element.elementor-element-83b87e5 {
		width: 28%;
	}
	.elementor-2 .elementor-element.elementor-element-c4d81c2 {
		width: 33%;
	}
	.elementor-2 .elementor-element.elementor-element-5cbb3ee {
		width: 33.333%;
	}
	.elementor-2 .elementor-element.elementor-element-472338b {
		width: 33%;
	}
	.elementor-2 .elementor-element.elementor-element-9bc2671 {
		width: 42%;
	}
	.elementor-2 .elementor-element.elementor-element-f20ffd1 {
		width: 8%;
	}
	.elementor-2 .elementor-element.elementor-element-18a69a5 {
		width: 42%;
	}
	.elementor-2 .elementor-element.elementor-element-963bfc6 {
		width: 8%;
	}
	.elementor-2 .elementor-element.elementor-element-396c777 {
		width: 66.66% !important;
	}
	.elementor-2 .elementor-element.elementor-element-7c58d1b {
		width: 33.34%;
	}
	.elementor-2 .elementor-element.elementor-element-b5976ee {
		width: 28%;
	}
	.elementor-2 .elementor-element.elementor-element-5c135b9 {
		width: 43.333%;
	}
	.elementor-2 .elementor-element.elementor-element-383ded0 {
		width: 28%;
	}
	.elementor-2 .elementor-element.elementor-element-c827e51 {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-fa88088 {
		width: 24.666%;
	}
	.elementor-2 .elementor-element.elementor-element-570f551 {
		width: 25%;
	}
	.elementor-2 .elementor-element.elementor-element-1c2a9a2 {
		width: 20%;
	}
	.elementor-2 .elementor-element.elementor-element-77819de {
		width: 59.333%;
	}
	.elementor-2 .elementor-element.elementor-element-3689aab {
		width: 20%;
	}
	.elementor-2 .elementor-element.elementor-element-0a902ef {
		width: 40%;
	}
	.elementor-2 .elementor-element.elementor-element-3bd79d9 {
		width: 9.981%;
	}
}

@media(max-width:767px) {
	.elementor-2 .elementor-element.elementor-element-27d0a15 .elementor-spacer-inner {
		height: 6vh;
	}
	.elementor-2 .elementor-element.elementor-element-155428a h1,
	.elementor-2 .elementor-element.elementor-element-155428a h2,
	.elementor-2 .elementor-element.elementor-element-155428a h3,
	.elementor-2 .elementor-element.elementor-element-155428a h4,
	.elementor-2 .elementor-element.elementor-element-155428a h5,
	.elementor-2 .elementor-element.elementor-element-155428a h6 {
		font-size: 3.2rem;
	}
	.elementor-2 .elementor-element.elementor-element-d159d42 .elementor-spacer-inner {
		height: 5vh;
	}
	.elementor-2 .elementor-element.elementor-element-6fe216e .elementor-spacer-inner {
		height: 4vh;
	}
	.elementor-2 .elementor-element.elementor-element-7fff28d {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-749a111 {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-5bfa6a0 {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-dc99fd3 {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-faf281b {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-4c061bc {
		width: 50%;
	}
	.elementor-2 .elementor-element.elementor-element-c1338d1 .elementor-spacer-inner {
		height: 4vh;
	}
	.elementor-2 .elementor-element.elementor-element-7da0290 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-48f5752 h1,
	.elementor-2 .elementor-element.elementor-element-48f5752 h2,
	.elementor-2 .elementor-element.elementor-element-48f5752 h3,
	.elementor-2 .elementor-element.elementor-element-48f5752 h4,
	.elementor-2 .elementor-element.elementor-element-48f5752 h5,
	.elementor-2 .elementor-element.elementor-element-48f5752 h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-87d4e04 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-b5b8848 .elementor-spacer-inner {
		height: 2vh;
	}
	.elementor-2 .elementor-element.elementor-element-0eba1fe .elementor-spacer-inner {
		height: 3vh;
	}
	.elementor-2 .elementor-element.elementor-element-78dcdce .elementor-spacer-inner {
		height: 2vh;
	}
	.elementor-2 .elementor-element.elementor-element-1bc216a .elementor-spacer-inner {
		height: 3vh;
	}
	.elementor-2 .elementor-element.elementor-element-27b9ada .elementor-spacer-inner {
		height: 2vh;
	}
	.elementor-2 .elementor-element.elementor-element-d1475a7 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-3d23c9f .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-007a45e h1,
	.elementor-2 .elementor-element.elementor-element-007a45e h2,
	.elementor-2 .elementor-element.elementor-element-007a45e h3,
	.elementor-2 .elementor-element.elementor-element-007a45e h4,
	.elementor-2 .elementor-element.elementor-element-007a45e h5,
	.elementor-2 .elementor-element.elementor-element-007a45e h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-abafaa0 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-9490bfe .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-c0b46df .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-23c0608 h1,
	.elementor-2 .elementor-element.elementor-element-23c0608 h2,
	.elementor-2 .elementor-element.elementor-element-23c0608 h3,
	.elementor-2 .elementor-element.elementor-element-23c0608 h4,
	.elementor-2 .elementor-element.elementor-element-23c0608 h5,
	.elementor-2 .elementor-element.elementor-element-23c0608 h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-819fae0>.elementor-widget-container {
		margin: 0px 20px 0px 0px;
	}
	.elementor-2 .elementor-element.elementor-element-95a9ada .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-cfdfeee .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-37a4068 h1,
	.elementor-2 .elementor-element.elementor-element-37a4068 h2,
	.elementor-2 .elementor-element.elementor-element-37a4068 h3,
	.elementor-2 .elementor-element.elementor-element-37a4068 h4,
	.elementor-2 .elementor-element.elementor-element-37a4068 h5,
	.elementor-2 .elementor-element.elementor-element-37a4068 h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-d5b27ba .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-e53eed6 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-2fdb1d8 h1,
	.elementor-2 .elementor-element.elementor-element-2fdb1d8 h2,
	.elementor-2 .elementor-element.elementor-element-2fdb1d8 h3,
	.elementor-2 .elementor-element.elementor-element-2fdb1d8 h4,
	.elementor-2 .elementor-element.elementor-element-2fdb1d8 h5,
	.elementor-2 .elementor-element.elementor-element-2fdb1d8 h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-3951d9f .elementor-spacer-inner {
		height: 3vh;
	}
	.elementor-2 .elementor-element.elementor-element-3b63669 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-20e1520 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-5b3d87e h1,
	.elementor-2 .elementor-element.elementor-element-5b3d87e h2,
	.elementor-2 .elementor-element.elementor-element-5b3d87e h3,
	.elementor-2 .elementor-element.elementor-element-5b3d87e h4,
	.elementor-2 .elementor-element.elementor-element-5b3d87e h5,
	.elementor-2 .elementor-element.elementor-element-5b3d87e h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-3d36dae>.elementor-widget-container {
		padding: 40px 20px 40px 20px;
	}
	.elementor-2 .elementor-element.elementor-element-696e51d>.elementor-widget-container {
		padding: 40px 20px 40px 20px;
	}
	.elementor-2 .elementor-element.elementor-element-51a299f .elementor-spacer-inner {
		height: 5vh;
	}
	.elementor-2 .elementor-element.elementor-element-2b24f02 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-1cdc672 h1,
	.elementor-2 .elementor-element.elementor-element-1cdc672 h2,
	.elementor-2 .elementor-element.elementor-element-1cdc672 h3,
	.elementor-2 .elementor-element.elementor-element-1cdc672 h4,
	.elementor-2 .elementor-element.elementor-element-1cdc672 h5,
	.elementor-2 .elementor-element.elementor-element-1cdc672 h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-94a6d32 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-3813e06 .elementor-spacer-inner {
		height: 7vh;
	}
	.elementor-2 .elementor-element.elementor-element-e913284 h1,
	.elementor-2 .elementor-element.elementor-element-e913284 h2,
	.elementor-2 .elementor-element.elementor-element-e913284 h3,
	.elementor-2 .elementor-element.elementor-element-e913284 h4,
	.elementor-2 .elementor-element.elementor-element-e913284 h5,
	.elementor-2 .elementor-element.elementor-element-e913284 h6 {
		font-size: 2.5rem;
	}
	.elementor-2 .elementor-element.elementor-element-00d7679 .elementor-spacer-inner {
		height: 3vh;
	}
	.elementor-2 .elementor-element.elementor-element-9c4e165 .elementor-spacer-inner {
		height: 5vh;
	}
}